@import "tailwindcss";

:root {
  --font-satoshi: 'Satoshi', sans-serif;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


html, body {
  font-family: var(--font-satoshi);
  scroll-behavior: smooth;
}